button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    background-color: aquamarine;
}

body{
    background-color: #ffaaaa;
    justify-content: center;
    align-items: center;
}