.square{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black; 
    background-color: green;
    box-shadow: inset 4px 8px;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 630px;
    background-color: darkgreen;
    border-radius: 12px;
    box-shadow: inset 4px 4px ;
}

button{
    padding: 4px 12px;
    margin: 24px;
    border-radius: 8px;
    background: #f5a623;    
    font-weight: bold;
    color: white;
    font-size: 1em;
}

.square img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

body{
    background-image: url(images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#controls{
    border-radius: 12px;
    display: none;
    justify-content: center;
    align-items: center;
}

#game{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topBar{
    display: none;
    justify-content: space-between;
}