.square{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black; 
    background-color: green;
}

.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 630px;
    background-color: darkgreen;
    border-radius: 12px;
}

button{
    padding: 4px 12px;
    border-radius: 2px;
}

.square img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

body{
    background-color: navy;
}